 .menu {
      background-color: blue;
      font-size: 16px;
    }

    .main-menu {
      color: green
    }

    .visible {
      display: block;
    }

    .invisible {
      display: none;
    }